.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    min-width: 80vw;
    padding-top: 4vh;
    
}
.about-container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 80px;
    
}

.text1-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 80px;
    min-width: 90vw;
    min-height: 70vh;
}
.text2-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: left;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 80px;
}
.title1{
    color: rgb(0, 0, 0);
    font-size: 15vw;
}

.body1{
    color: rgb(255, 253, 253);
    min-width: 2rem;
    max-width: 50rem;
}

.multiSet1{
    max-width: 30vw;
}
.multiSet2{
    max-width: 80vw;
}